<div class='container'>

  <%= form_for @country, url: countries_path, html: {class: 'form-signin'} do |f| %>

      <h2 class="form-signin-heading">新增漫画地区</h2>

      <%= f.label :name, '地区名称', class: 'sr-only' %>
      <%= f.text_field :name, auto_complete: "off", class: 'form-control', placeholder: '地区名称' %>

      <br/>

      <p><%= f.submit '提交', class: 'btn btn-lg btn-primary btn-block' %> </p>

      <center><%= button_tag '返回主页', type: 'button', class: 'btn btn-sm btn-primary', onclick: "window.location.href='/comics'" %> </center>
  <% end %>

</div>

